services:
    -
        class: Mpyw\LaravelPdoEmulationControl\PHPStan\ConnectionClassExtension
        tags:
            - phpstan.broker.methodsClassReflectionExtension
    -
        class: Mpyw\LaravelPdoEmulationControl\PHPStan\CallableReturnTypeExtension
        tags:
            - phpstan.broker.dynamicMethodReturnTypeExtension
    -
        class: Mpyw\LaravelPdoEmulationControl\PHPStan\CallableFacadeReturnTypeExtension
        tags:
            - phpstan.broker.dynamicStaticMethodReturnTypeExtension
    -
        class: Mpyw\LaravelPdoEmulationControl\PHPStan\EmulationControllerReturnTypeExtension
        tags:
            - phpstan.broker.dynamicMethodReturnTypeExtension
